.container {
    display: flex;
    justify-content: center;
    margin-top: 25vw;
}

#fondo {
    position: absolute;
    width: 100vw;
    height: 49vw;
    top: 0vw;
    left: 0vw;
}

.frames {
    position: absolute;
    width: 300px;
    height: 290px;
    animation-name: caminata, traslacion;
    animation-duration: 0.5s, 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


@keyframes caminata {
    0% { background-image: url(img/Frame1.png); ;}
    11% { background-image: url(img/Frame2.png); ;}
    22% { background-image: url(img/Frame3.png); ;}
    33% { background-image: url(img/Frame4.png); ;}
    44% { background-image: url(img/Frame5.png); ;}
    55% { background-image: url(img/Frame6.png); ;}
    66% { background-image: url(img/Frame7.png); ;}
    77% { background-image: url(img/Frame8.png); ;}
    88% { background-image: url(img/Frame9.png); ;}
    100% { background-image: url(img/Frame10.png); ;}
}

@keyframes traslacion {
    from {transform: translateX(55vw);}
    to {transform: translateX(-55vw);}
}

.sidebar {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 5vw;
    height: 100vw;
    top: 0vw;
    left: 0vw;
    background-color: black;
  }
  
  #menu {
    position: absolute;
    width: 3vw;
    right: 1vw;
  }
  
  #check {
    z-index: -2;
  }
  
  #check:checked ~.sidebar {
    width: 15vw;
    height: 100vw;
    animation-name: nose;
    animation-duration: 0s;
    transition: 0s;
  }
  
  @keyframes nose {
    from { width: 5vw ; height: 100vw;}
    to { width: 15vw; height: 100vw;}
  }
  
  #img1{
    position: absolute;
    width: 2vw;
    height: 2vw;
    top: 5vw;
    left: 1.3vw;
  }
  
  #img2 {
    position: absolute;
    width: 2vw;
    height: 2vw;
    top: 8vw;
    left: 1.3vw;
  }
  
  #img3 {
    position: absolute;
    width: 2vw;
    height: 2vw;
    top: 11vw;
    left: 1.3vw;
  }
  
  #s1 {
    position: absolute;
    font-size: 1vw;
    color: white;
    top: 5.2vw;
  }
  
  #s2 {
    position: absolute;
    font-size: 1vw;
    color: white;
    top: 8.2vw;
  }
  
  #s3 {
    position: absolute;
    font-size: 1vw;
    color: white;
    top: 11.2vw;
  }
  
  .nombres span {
    opacity: 0;
    transition: 0s;
  }
  
  #check:checked + .sidebar .nombres span {
    opacity: 1;
  }
  
  #check:not(:checked) + .sidebar .nombres span {
    opacity: 0;
  }
  